@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Quicksand:wght@300..700&display=swap');

:root{
    --primary-color: #ffeb67;
    --primary-color-pale: #fff193dc;
    --secondary-color: #fbf0bb;
    --accent-color: #ffd084;
    --accent-color-pale: #ffd797;
    --brand-gradient: linear-gradient(to right, #ffeb67, #fbf0bb);
    --brand-gradient-reverse: linear-gradient(to left, #ffeb67, #fbf0bb);
    --black: #060803;
    --white: #FEFAE0;
}


/*----------------------GENERAL STYLES-------------------------*/

/* Resetting box-sizing for all elements */
*, *::before, *::after {
    box-sizing: border-box;
}

/* Setting base font size to 10px (62.5% of the default browser font size) */
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow: hidden;
}
/*Now, 1rem = 10px, 1.6rem = 16px, 2.6rem = 26px etc*/

body{
    overflow: hidden auto; /*Hides horizontal overflow and shows vertical scrollbar only when there is an overflow*/
    margin: 0;
    height: 100vh;
}

a{
    cursor: pointer;
}


::-webkit-scrollbar {
    width: 2rem;
}
 

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--secondary-color);
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.677); 
    border-radius: 10px;
    background: var(--white);
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: var(--primary-color);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}


/*----------------------TYPOGRAPHY-------------------------*/

h1, h2, h3{
    font-family: "Quicksand", serif;
    font-style: normal;
    margin: 2rem auto 0 auto;
    text-align: center;
    max-width: 70%;
}

h1{
    font-size: 4rem;
    font-weight: 500;
}
h2{
    font-size: 3rem;
    font-weight: 500;
    margin-top: 5rem;
}
h3{
    font-size: 2.518rem;
    font-weight: 300;
}

body{
    background-color: var(--white);
    color: var(--black);
    font-family: "Figtree", sans-serif;
    font-size: 1.9rem;
    font-weight: 500;
    line-height: 1.5;
    word-spacing: 2px;
    width: 100vw;
}


::selection{
background-color: var(--primary-color);
color: var(--black);
}



/*HEADER*/

header{
    width: 100vw;
    margin-top: 2rem;
    background-color: var(--primary-color-pale);
}

h1{
    padding: 2rem 0;
}


/*MAIN*/


main{
    margin-top: 5rem;
}

/*GENERAL BUTTONS*/

button{
    padding: 1.6rem 3.2rem;
    border-radius: 25px;
    border: 1px solid var(--black);
    background-color: var(--primary-color);
    
}

button:hover{
    cursor: pointer;
    background-color: var(--secondary-color);
}

/*GENRES SECTION*/

#genres, #themes, #recommendation, #recommend-btn{
    display: flex;
    justify-content: space-around;
    max-width: 50%;
    margin: 2rem auto 0 auto;
}
#recommend-btn{
    margin-top: 5rem;
    background-color: var(--accent-color);
}
#recommend-btn:hover{
    background-color: var(--accent-color-pale);
}
#themes button{
    background: var(--brand-gradient);
}
#themes button:hover{
    background: var(--brand-gradient-reverse);
}